:root {
    --primary-color: #21216c; /* blue */
    --secondary-color:  #2b4da2;
    --tertiary-color: #525252;
    --background-color: #ffffff;
    --border-color: #000000; 
    --wrapper-color:  #f9f9f9;
    --anchor-color:#0066c0;
    --hover-color:#946aab;
    --button-hover:#21216cac;
  }